html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: "Alegreya", serif;
  font-family: "Dai Banna SIL", serif;
  font-family: "DM Sans", sans-serif;
}

.navbar {
  display: flex;
  font-size: 25px;
  justify-content: center;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #b87333;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}

.navbar a:first-child {
  background: linear-gradient(to left, white 50%, #fbceb1 50%) right;
  background-size: 201% 100%;
  transition: 0.5s ease-out;
}

.navbar a:nth-child(2) {
  background: linear-gradient(to bottom, white 50%, #fbceb1 50%) top;
  background-size: 100% 200%;
  transition: 0.5s ease-out;
}

.navbar a:last-child {
  background: linear-gradient(to left, #fbceb1 50%, white 50%) left;
  background-size: 200% 100%;
  transition: 0.5s ease-out;
}

.navbar a:first-child:hover {
  background-position: left;
}

.navbar a:nth-child(2):hover {
  background-position: bottom;
}

.navbar a:last-child:hover {
  background-position: right;
}

.navbar a:first-child {
  border-radius: 20px 0px 0px 20px;
}

.navbar a:nth-child(2) {
  border-radius: 0px;
}

.navbar a:last-child {
  border-radius: 0px 20px 20px 0px;
}

.main-header-area {
  color: #b87333;
  display: flex;
  justify-content: center;
}

.main-header-area img {
  width: auto;
  height: 70%;
}

.main-header-area h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: #fbceb1 10px 50px;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.left-side a {
  text-decoration: none;
  color: #b87333;
  border: #b87333 2px solid;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(to left, white 50%, #fbceb1 50%) right;
  background-size: 200% 100%;
  transition: 0.5s ease-out;
}

.left-side a:hover {
  background-position: left;
}

.right-side {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.about h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-combine {
  display: flex;
  gap: 100px;
  text-align: center;
  padding: 100px;
  justify-content: center;
}

.about-left-side {
  border: #b87333 2px solid;
  padding: 10px;
  width: 500px;
}

.about-right-side {
  border: #b87333 2px solid;
  padding: 10px;
  width: 500px;
}

.about-view-rentals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#down-arrow-button {
  animation: pulsing 2s infinite;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.rentals {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.car-selection-container {
  display: flex;
  border: #b87333 2px solid;
  padding: 50px;
  border-radius: 30px;
}

#car-image {
  width: 600px;
  height: auto;
  margin: 20px;
  margin-left: 0;
}

.car-selection-container a {
  text-decoration: none;
  color: black;
}

.car-selection-container h3 {
  border: #fbceb1 solid 2px;
  padding: 20px;
  background: linear-gradient(to left, #fbceb1 50%, white 50%) left;
  background-size: 200% 100%;
  transition: 0.5s ease-out;
}

.car-selection-container h3:hover {
  background-position: right;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.contact-container {
  display: flex;
  gap: 100px;
}

.contact-right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rental-right-side {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.information-icons {
  height: auto;
  width: 50px;
}

.information {
  display: flex;
  align-items: center;
}

.information h2 {
  margin: 0;
}
